html, body, #root {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #168ccc;
  color: #fff;
}

a {
  color: inherit;
}
a:hover, a:focus {
  text-decoration: none;
  color: inherit;
}

a:hover {
  filter: brightness(105%);
}
.hover:hover {
  filter: brightness(105%);
}

.well a {
  color: #777;
}

body.modal-open .container {
  filter: blur(4px);
}

.glyphicon-warning-sign {
  display: none;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
.modal-content {
  background: none;
  border: none;
  -webkit-box-shadow: none;
}

.container .jumbotron {
  border-radius: 0px;
}

.form-control-feedback {
  z-index: 100;
}

.emoji {
  height: 1em;
  font-size: 1.5em;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.messages p {
  white-space: pre-wrap;
}

.messages a {
  color: #337ab7;
}
