html, body, #root {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #168ccc;
  color: #fff;
}

a {
  color: inherit;
}
a:hover, a:focus {
  text-decoration: none;
  color: inherit;
}

body.modal-open .container {
  filter: blur(4px);
}

.glyphicon-warning-sign {
  display: none;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
.modal-content {
  background: none;
  border: none;
  -webkit-box-shadow: none;
}

.panel-heading {
  padding: 5px 20px;
}
.panel-body {
  padding: 5px 30px;
}

.container .jumbotron {
  border-radius: 0px;
}

.form-control-feedback {
  z-index: 100;
}
